.bottom-fixed-navbar{
    .tab-item{
        flex: 1;
        line-height: 100px;
		text-align: center;
		background: url('../assets/svg/home.svg') no-repeat center 5px;
  		background-size: 35%;
        a{
			display: block;
			padding-top: 70px;
			line-height: 20px;
			text-decoration: none;
        }
    }
}
